<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 2</title>
</head>
<body 
style="background-color: black ;
 color: white;
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 50px;
   font-family: monospace,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">

    <div style="display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    border: 1px solid white;
    padding: 20px;
    border-radius: 20px;" >


    <div style="display: flex; width: 100%;justify-content: start; align-items: center; gap: 10px;">
        <img style="width: 100px; height: 100px ; border-radius: 20px;" src="https://i.pinimg.com/736x/49/c8/8c/49c88cdfd0c378163bd6d45f2efaab46.jpg" alt="">
        <h1 style="font-size: xx-large;">Title</h1>
    </div>
    <br>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non debitis natus aperiam commodi, officia odit autem deleniti quo! Distinctio, dolore. In ducimus eveniet quo autem voluptas porro? Sit, tempora doloribus.
    Qui facere, consectetur non sint, deleniti voluptatem dolore, amet eveniet odit dolorum eligendi velit est quod ipsa eum impedit autem quos alias. Blanditiis veniam tempora dolores doloremque laborum rem consectetur.
    Ut recusandae porro voluptatibus sapiente doloribus, exercitationem quasi soluta itaque nobis repudiandae sint, pariatur veniam architecto ducimus a amet repellendus sunt eius explicabo delectus enim. Esse, eos? Amet, laboriosam commodi.</div>
    
    <br><br>

    <div style="display: flex; gap: 10px;">
        <img style="width: 50%; border-radius: 20px;" src="https://i.pinimg.com/736x/fa/d8/4c/fad84c0600f456c599953847ab1448a9.jpg" alt="">
        <div style="width: 50%;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda eaque, pariatur ad itaque, enim repellat quod, tempora laudantium doloribus voluptas omnis nam doloremque saepe magnam reprehenderit quasi similique vitae dolor.
        Dolores distinctio voluptates nisi veritatis in velit ratione deserunt molestias. Animi omnis, mollitia blanditiis saepe reiciendis nulla atque a modi, sed minima, et iusto harum. Natus facere autem corrupti voluptatem?
        Illo distinctio sed excepturi. Aliquam ducimus laudantium fuga culpa molestiae? Animi unde, sit esse amet odio eligendi. Praesentium fuga obcaecati suscipit accusantium libero nostrum deleniti. Vel aperiam ipsa assumenda laudantium?</div>
    </div>

    <br><br>

    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nihil quo tempora corrupti maxime iure, sint assumenda saepe expedita? Deleniti voluptatum hic dicta natus eum tenetur quam perspiciatis sint sed.</div>
</div>    
</body>
</html>